alabaster==0.7.12
Babel==2.8.0
certifi==2019.11.28
chardet==3.0.4
configparser==4.0.2
docutils==0.16
entrypoints==0.3
enum34==1.1.6
flake8==3.7.9
functools32==3.2.3.post2
idna==2.8
imagesize==1.2.0
Jinja2==2.11.1
MarkupSafe==1.1.1
mccabe==0.6.1
nose==1.3.7
packaging==20.1
phoenixdb==0.7
protobuf==3.15.0
pycodestyle==2.5.0
pyflakes==2.1.1
Pygments==2.5.2
pyparsing==2.4.6
pytz==2019.3
requests==2.22.0
six==1.14.0
snowballstemmer==2.0.0
Sphinx==1.8.5
sphinxcontrib-websupport==1.1.2
-e git+https://bitbucket.org/lalinsky/python-sqlline.git@7fa99e4bc0b4568b0b1a82adb00530b0612a9993#egg=sqlline
sqlparse==0.3.0
tabulate==0.8.6
typing==3.7.4.1
urllib3==1.25.8
